@charset "utf-8";
/* CSS Document */ 
/************ all style **********/
*{font-family:dotum,"돋움",verdana;}
html 			        {height:100%;}
body            {height:100%;margin:0;padding:0;font-family:dotum,verdana;font-size:12px;color:#0c0c0c;line-height:17px;}
td				          {font-family:dotum,verdana;font-size:12px;color:#0c0c0c;}
img			         	{border:none;vertical-align:top;}
select			       {border:1px solid #7f9db9;font-size:12px;font-family:dotum,verdana;color:#0c0c0c;background:#ffffff;}
textarea      		{font-size:12px;font-family:dotum,verdana;color:#0c0c0c;background:#ffffff;}
p               {text-align:justify; margin:0;padding:0;}
hr 		           {display:none;}
noscript        {position:absolute;z-index:1;width:100%;}
noscript p      {margin:0;padding:0;}
em              {font-style:normal;}
ul              {margin:0;padding:0;list-style:none;}
caption         {display:none;}
form			         {margin:0;padding:0;}
input           {margin:0;padding:0;font-size:12px;font-family:dotum;color:#0c0c0c;}
table img       {vertical-align:middle;}
table ul        {margin:0;}

.alC  {text-align:center;}
fieldset{border:none;}
legend, .hdn{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} 
.col_r{color:#e16400;}


/************ title style **********/
h1  {margin:0;padding:0;}
h2  {margin:0;padding:0;}
h3  {margin:0;padding:0;}
h4  {margin:0;padding:0;}
h5  {margin:0;padding:0;}
h6  {margin:0;padding:0;}


/************ table style **********/
.table1          				{margin:5px 0 0 0;padding:0px 0px 0px 0px;border-collapse:collapse;}
.table1 caption  				{display:none;}
.table1 th       				{color:#446875;background:#f4f8f6;border-right:1px solid #d8e7e0;border-bottom:1px solid #d8e7e0;padding:4px 6px;font-size:12px; text-align:center;}
.table1 th label				{color:#446875;}
.table1 td       				{font-weight:normal;border-right:1px solid #d8e7e0;border-bottom:1px solid #d8e7e0;padding:4px 6px; text-align:center; color:#666; background:none;}
.table1 .t_end       {border-right:none;}
.table1 .td_top      {border-top:2px solid #87978f;}
.table1 .cell_point  {background:#f7fbfa;}
.table1 .cell_left  {text-align:left;}
.table1 .cell_center  {text-align:center;}
.table1 .cell_right  {text-align:right;}

.table_no        			  	{margin:0;padding:0;border-collapse:collapse;}
.table_no caption  				{position:absolute; visibility:hidden; line-height:0px; font-size:0px; width:0px; height:0px;}
.table_no th       				{color:#0c0c0c;background:#f4f4f4;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;padding:3px;font-size:12px;}
.table_no td      				 {font-weight:normal;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;padding:3px;}
.table_no .t_end       {border-right:none;}
.table_no .td_top      {border-top:2px solid #d8d8d8;}
.table_no .td_bottom   {border-bottom:none;}
.table_no .cell_point  {background:#f2f2f2;}

.table1_padd *{padding-left:0px !important;padding-right:0px !important;}

/************ link style **********/
a:link    {color:#0c0c0c;text-decoration:none;}
a:visited {color:#0c0c0c;text-decoration:none;}
a:hover   {color:#0c0c0c;text-decoration:none;}
a:active  {color:#3373b3;text-decoration:none;}



/************ align style **********/
.clear   {clear:both;}

/** inputBox **/
.inputLine{border:1px solid #C3C3C3; height:17px; line-height:17px;}

/** skip **/
#skipToContent {position:absolute;z-index:100;} 
#skipToContent a {display:block;position:absolute;top:-17px;width:970px;text-align:center;}
#skipToContent a:hover,
#skipToContent a:focus {text-decoration:underline;}
#skipToContent a:hover,
#skipToContent a:focus,
#skipToContent a:active {position:absolute;top:0;left:50%;z-index:999;padding:5px;color:#ffffff;background:#000000;}


/* member */
.btn_right {padding-top:15px;float:right;}
.mb20 {margin-bottom:20px;}
.btn_center {padding:20px 0 0 200px;}

/* sitemap */
.sitemap_list ul li {width:156px;float:left;}
.sitemap_list ul .m_right10 {margin-right:22px;}
.sitemap_list ul li ul li {background:url(../images/sub_arrow_s2.gif) no-repeat 3px 6px;line-height:22px;width:140px;padding-left:16px;}
.sitemap_list ul li ul li a:link, #MainMenu a:visited, #MainMenu a:active {font-size:12px; font-family:dotum;}
.sitemap_list ul li ul li a:hover {font-size:12px; font-family:dotum; color:#0066CC;}
.sitemap_list ul li ul strong {margin-bottom:10px;}
.mtb_20 {margin-bottom:30px;}

/* Search Box */
#search_box {background-color:#f6f6f6;margin-top:30px;padding-top:8px;text-align:center;padding-bottom:8px;border:1px #e9e9e9 solid;}
#search_box select {vertical-align:middle;padding:1px 0 1px 0;width:80px;}
#search_box input {vertical-align:middle;padding:1px 0 1px 0;margin-right:3px;}
#search_box .inp {width:260px;}
#search_box label {display:none;}

/* 페이징  */
#paging{width:100%;text-align:center;margin-top:20px;}
.rline {border-right:#d5d5d5 solid 1px;font-size:11px;color: #0c0c0c;font-family:verdana;}
a.number:link,a.number:visited,a.number:active {padding:0 13px 0 13px;font-size:11px;font-family:verdana;color: #0c0c0c;}
a.number:hover {padding:0 13px 0 13px;font-size:11px;font-family:verdana;color:#666;text-decoration:underline;background-color:#f6f6f6;}
a.number_ov:link,a.number_ov:visited,a.number_ov:active {padding:0 13px 0 13px;font-size:11px;font-family:verdana;color:#fd5605;background-color:#f6f6f6;font-weight:bold;text-decoration:underline;}
a.number_ov:hover {padding:0 13px 0 13px;font-size:11px;font-family:verdana;color:#fd5605;background-color:#f6f6f6;font-weight:bold;text-decoration:underline;}


.photo_list {margin-bottom:40px;}
.photo_list ul li{background:url(../images/photo_no_img.gif) no-repeat left top;width:148px;float:left;padding:4px 0 0 4px;}
.photo_list ul .m_right10 {margin-right:27px;}
.mid_20 {margin-bottom:30px;}
.photo_ti {margin-top:15px;text-align:center;}
a.photo_ti_txt:link,a.photo_ti_txt:visited,a.photo_ti_txt:active {color:#777;line-height:16px;text-align:center;font-family:dotum;}
a.photo_ti_txt:hover {color:#777;line-height:16px; text-decoration:underline;text-align:center;font-family:dotum;}
.photo_date {font-size:11px; color:#4190c1;line-height:30px;font-family:dotum;}

.deliveryGo {width: 465px; margin: 20px auto;}
.deliveryGo a img { padding-top: 30px;
